#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#page-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.bottom-information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding: 10px;
  margin: 10px; */
  gap: 50px;
}

#added-to-favorite {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#added-to-favorite.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#removed-from-favorite {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#removed-from-favorite.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the added-to-favorite in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.background {
  background: url("./assets/space-x-image-1.jpeg");
  animation: chbg 40s infinite alternate;
  background-size: auto;
}

@keyframes chbg {
  0% {
  background:url("./assets/space-x-image-1.jpeg");
  background-size:cover
  }
  20% {
    background:url("./assets/space-x-image-3.jpeg");
  background-size:cover
  }
  40% {
    background:url("./assets/space-x-image-6.jpeg");
  background-size:cover
  }
  60% {
    background:url("./assets/space-x-image-7.jpeg");
  background-size:cover
  }
  80% {
    background:url("./assets/space-x-image-8.jpeg");
  background-size:cover
  }
  100% {
    background:url("./assets/space-x-image-3.jpeg");
  background-size:cover
  }
}