#individual-launch {
    outline: 5px solid rgb(0, 0, 0);
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
    overflow: auto;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 136, 17);
}

#launches-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#all-launches-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
    overflow: auto;
    height: 500px;
    width: 100%;
}

#items-list-outer-container {
    display: grid;
    width: 500px;
    height: 100%;
    /* outline: 5px solid rgb(0, 0, 0); */
    margin: 10 px;
    gap: 10px;
    padding: 10px;
}

#individual-launch:hover {
    transform: scale(.95);
    background-color:rgba(0,0,0,0.5);

}

#label-text-font {
    font-style: italic;
    text-decoration: underline;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}


